@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    

}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 2vw;
    color: #f9faf8;
    font-weight: bold;
    flex-shrink: 0;
    margin-right: 20px;
}

.header-links {
    display: flex;
    flex-shrink: 0;
}

ul {
 display: flex;
 list-style: none;
 padding: 0;
 display: flex;
 gap: 20px;
 
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    
}

.top {
    background-color: #1f2937;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
   
}

.top-title  {
    font-size: 4.5vw;
    font-weight:900;
    color: #f9faf8;
    display: flex;
    margin-right: 20px;

}

.top-title a {
    flex-shrink: 0;
}


.top-subtext {
    font-size: 1.6vw;
    color: #e5e7eb;
    width: 30vw;
}

#top-button {
    padding:0.7vw 2.4vw;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-size: 1.4vw;
}

#top-button:hover {
    background-color: #285fb8;
}


.top-image-container {
    /*background-color:rgba(122, 123, 124, 0.575);*/
    height: 23vw;
    width: 40vw;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-image {
    height: 22vw;
    width: 39vw;
    object-fit: contain;
    border-radius: 3px;
}

.with-credit {
    text-align: center;
    font-size: small;
}

.credit-link {
    color: black;
}
.information {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:40px 150px 90px;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.content {
    margin-top: 40px;
    display: flex;
    gap: 60px;
}

.photos {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 14vw;
    width: 15vw;
    margin-bottom: 20px;
    border: 4px solid #3882f6 ;
    border-radius: 16px;
}

.photo-text {
    font-size: 18px;
    color: #1f2927;
    
    font-weight: normal;
    
}

.quote {
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 150px;
    

    
}

#citation {
    margin-top: 20px;
    align-self: flex-end;
    font-size: 25px;
    color: #1f2927;
    font-weight: bold;
}

.call-to-action {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 150px;
}

.modal {
    flex: 1;
    background-color: #3882f6;
    padding: 50px 90px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

}

#cta-header {
    font-size: 2.5vw;
    color: #f9faf8;
    font-weight: bold;
}

#cta-subtext {
    font-size: 1.6vw;
    
    color: #e5e7eb;
    
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#bottom-button {
    padding:0.7vw 2.4vw;
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 6px;
    font-weight: 900;
    font-size: 1.4vw;

}

#bottom-button:hover {
    background-color: #285fb8;
}
.footer {
    background-color: #1f2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}







